

.drop-prof {

    /* height: 400px; */
    /* width:700px; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
    border-radius: 4px;
    
}

.profile-form {
    width: 700px;
}

.drop-prof-inside {
    height: 300px;
    width: 600px;
    border: 4px dotted grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.drop-prof-inside-cover {
    height: 300px;
    width: 600px;
    border: 4px dotted grey;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-cover {
    margin-top: 20px;
    margin-right: 6px;
    display: flex;
    justify-content: flex-end;
}

.cover-container {
    width: 610px;
}

.cover-uploading {
    width: 600px;
}

.upload-preview-prof {
    height: 200px;
    width: 300px;
    object-fit: contain;
}



.drop-banner-inside {
    height: 300px;
    width: 600px;
    border: 4px dotted grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-banner-inside {
    width: 608px;
}

.button-box {
    display: flex;
    justify-content: center;
}

.save-cover-button {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    border: none;
}

.save-cover-button:hover {
    color: white;
}


.cancel-cover-button {
    width: 110px;
    height: 30px;
    margin-right: 10px;
    border: none;


}

.cancel-cover-button:hover {
    color:white;
}

.profile-moving {
    margin-left: 3em;
}

.forms-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    /* margin-bottom: 35px; */

}

/* .cover-close {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45px
} */

.close-end {
    width: 103%;
    display: flex;
    justify-content: flex-end;
    /* margin-top: 15px; */
    /* margin-right: 10px; */

    cursor: pointer;
}

.ul-fix {
    padding:0;
    margin:0;
}

.close-end-profile {
    width: 98%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;

    cursor: pointer;
}





