 .header {
    display:flex;
    justify-content: center;
    color: #242526;
    margin: 0px;
 }

.photos {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;

}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.box {
  height: 320px;

}

.box2 {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    /* border: 1px solid black; */
    border-radius: 8px;
    margin-top: 20px;
    /* width: 310px; */
    overflow: hidden;
} 

 ul.photos {
    
    padding: 0;
    /* padding-right: 35px; */
    /* background-color: #f9ebdf; */
    overflow: "scroll";
    margin: 0px;

} 

/* img {
    overflow: hidden; } */
     /* img {
      -moz-transition: -moz-transform 0.2s ease;
      -webkit-transition: -webkit-transform 0.2s ease;
      -ms-transition: -ms-transform 0.2s ease;
      transition: transform 0.2s ease; }
     img:hover {
      -moz-transform: scale(1.075);
      -webkit-transform: scale(1.075);
      -ms-transform: scale(1.075);
      transform: scale(1.075); } */




/* img {
    border-radius: 8px;
} */

/* .box2:hover {
    box-shadow: 5px 5px 10px;
} */

/* .outer {
    background-color: #f9ebdf;
} 

.upNav {
    background-color:  #f9ebdf;
} 

.onlyHome {
    background-color: #FAF9F6;
}

#top {
    background-color: #f9ebdf;
} */

footer {
    position: fixed;
    color: black;
    width: 200px;
    height: 500px;
}

.home-container {
    background-color: #f9f1f1;
    display:flex;
    justify-content: center;
  
}

.home-inside{
    background-color: #f9f1f1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 79px;
}

.left-home {
    width: 620px;
    margin-right: 20px;
    /* border: 1px solid black; */
}

.right-home {
    /* border: 1px solid black; */
    width: 300px;
    margin-left: 20px;
}

.profile-homepage {
    height: 24px;
    width: 24px;
    border-radius: 50px;
}

.user-profile-home {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-profile-photos {
  margin-top: 10px;
  height: 250px;
  width: 618px;
  /* object-fit: contain; */
}

.homepage-photos {
    height: 250px;
    width: 400px;
    object-fit: contain;
    object-position: left;
}

.user-name {
    margin: 0;
    /* height: 20px;
     */
    font-size: 14px;
    margin-left: 15px;
}

/* .user-profile-photos {
    object-fit: contain;
    display: flex;
    justify-content: flex-start;
} */



/* img:hover {
    transform: scale(1.01);
} */

.random-right, .random-right-six {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

 .random-right-three {
    height: 100px;
    width: 70px;
    object-fit: cover;
}

.random-right-four {
    height: 100px;
    width: 75px;
    object-fit: cover;


}


.random-right-one, .random-right-five, .random-right-two {
    width: 116px;
    height: 100px;
    object-fit: cover;
}


.random-right, .random-right-two, .random-right-three, .random-right-five{
    margin-right: 2px;
}

.random-right-one, .random-right-three, .random-right-four, .random-right-six {
    margin-left: 2px;
}


.random-pics {
    /* height: 600px; */
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* position: sticky; */
    /* border: 1px solid black; */
    border-radius: 3px;
    height: 385px;
}

.pics-box {
    /* height: 350px; */
    width: 270px;
    height: 310px;
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /* justify-content: center; */
}

.photo-link {
    height: 100px;
}

.explore-header {
    margin-right: 98px;
}

.emma {
    height: 270px;
    width: 270px;
    
}

.editorial {
    margin-top: 35px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 3px;
}

.latest-news {
    width: 270px;
    /* border: 1px solid black; */
    /* height: 310px; */

}

.emma-insta {
    text-decoration: underline;
}

.user-name:hover {
    text-decoration: underline;
}





