
/* img {
    width: 320px;
    height: 400px;
    opacity: 1;
} */

.photo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f1f1;

}

.single-photo-box {
    background-color: #f9f1f1;
}

h1 {
    display: flex;
    justify-content: center;
}

.inside {
    /* border: 1px solid black; */
    background-color: #f9f1f1;
}

/* .button-one-photo {
    display: flex;
    justify-content: center;
} */

.description-one {
    display: flex;
    justify-content: center;
    font-family: "Lato";
}

.yourPhoto {
    margin: 0px;
    color:#242526;
}

.onePhotoHeader {
    background-color: #f9ebdf;
}

.photoDescription {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 4em;
    border: 1px solid black;
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-one-photo {

    margin-top: 40px;
    
}

.edit {

    margin-right: 10px;
}

.delete {
    margin-left: 10px;
}

.single-image {
    width: 665px;
    height: 400px;
    object-fit: contain;
}

.creator-photo-header {
    display: flex;
}

.profile-pic-single {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.single-bottom {
  display: flex;
  justify-content: center;
}

.single-bottom-inside {
    border: 1px solid black;
    width: 900px;
}

.edit-photo-icon {
    width: 18px;
    height: 18px;
    color: white;
}





