

.inside-profile {
    margin-top: 4em;
}
.up-profile {
    width: 100vw;
    height: 12em;
}


.profile-pic {
    height: 100px;
    width: 100px;
    /* top: 4.8em;
    left: 7em; */
    /* position: absolute; */
    border-radius: 50px;
    margin-bottom: 1em;
}

.inside-banner {
    margin-left: 7em;
    border: 1px solid black;
    object-fit: contain;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    align-items: flex-end; 
    width: 100vw;
    height: 12em;
}


.name-section {
    top: 2em;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.profile-name-header {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.profile-name {
    margin-top: 10px;
    margin-bottom: 0;
}

.profile-menu {
    width: 24px;
    height: 24px;
    border: 1px solid black;
}



.inside-menu {
    /* height: 40px;
    height: 200px; */
    margin-bottom: 4em;
    margin-left: 1em;
}


.profile-menu-button {
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    /* margin-bottom: 4.5em;
    margin-left: 1em; */
}

/* .popup-content {
    margin-bottom: 2em;
    width: 200px;
    border: 1px solid black;
}

.popup-arrow {
    width: 25px;
    height: 25px;
} */

.popup-content {
    /* margin: auto; */
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
    margin-top: -4em;
    border-radius: 4px;
    /* height: 100px; */
    /* padding-bottom: 50px; */
  }


 
 

  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }

  /* .inside-menu {
    width: 200px;
  } */

  .profile-container {
    height: 100vh;
  }

  /* .modal {
    bottom: 5em;
  } */
  
  /* .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  } */
  /* [data-popup='tooltip'].popup-overlay {
    background: transparent;
  } */

  .yaga {
    background-color: aqua;
  }

  .popup-overlay {
    background-color: rgba(0, 0, 0, 0.7);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }

