
.outsideEdit {

    border: 1px solid black;
    /* width: 350px; */
    height: 400px;
    border-radius: 8px;
    background-color: white;
}

.edit-single-content {
    width: 100px;
    padding: 0;

}

.edit-photo-inside {
    width: 100px;
}

.edit-photo {
    width: 100px;
}


.editSubmit {
    margin-top: 10px;
}