/* TODO Add site wide styles */
/* #root {
    height: 100vh;
    width: 100vw;

} */

body {
    margin: 0;
    min-height: 100%;
    position: relative;
}

html {
    min-height: 100%;
    position: relative;
}


.developerInfo {
    background-color: #F4C2C2;
    height: 50px;
    position: absolute;
    /* top: 425.8vh; */
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.75;
    z-index: 1000;
  }
  
  .developerLink {
    color: black;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-right: 15px;
    font-family: "Lato";
  }


  .information {
      font-family: "Lato";
      margin-left: 20px;

  }

  .rightSide {
    display: flex;

  }

  .leftSide {
    margin-right: 35px;
  }

  p {
    font-family: "Lato";
  }

  .name {
    margin-left: 15px;
  }

  ul {
    list-style: none;
  }

  li {
    list-style: none;
  }

  h4, p, label {
    font-family: "Lato";
  }



