
h1 {
    font-family: "Lato";
    font-size: 50px;
}



h2 {
    font-family: "Lato";
    color: black;
    opacity: 1;
    font-size: 30px;
    margin-top: 2px;
}

.textSplash {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-right: 30px;
    margin-top: 190px; */
}

.startHere {
    width: 90px;
    margin-right: 20px;

}

.uploadButton {
    height: 30px;
}


/* .footer {
    position: absolute;
    border: 1px solid black

} */

.belowNav {
    background-image: url("https://images.unsplash.com/photo-1619043518800-7f14be467dca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
    /* height: 80%; */
    /* background-color: aquamarine; */
    /* background-repeat: no-repeat;
    background-position: absolute; */
    /* background-size: 100vw 600vh; */
    /* object-fit: contains; */
    opacity: 0.75;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: -1000; */
}

.onlyUser {
     background-image: url("https://images.unsplash.com/photo-1619043518800-7f14be467dca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");

}

.textSplash {
    background-image: url("https://images.unsplash.com/photo-1619043518800-7f14be467dca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.startHere {
    width: 200px;
    height: 64px;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.startHere:hover {
    color: white;
}





