
.no-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

.profile-photos {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin: 15px;
}

.profile-photos:hover {
    opacity: 0.5;
}

.inside-profile-photos {
    margin-top: 25px;
    width: 900px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    display: flex;
    height: 100vh;
    border-radius: 4px;
    background: white;

}

.row-wrap-container {
    margin-top: 30px;
}

.row-wrap {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-flow: row wrap;
    width: 730px;
    height: 560px;
    /* border: 1px solid black; */
    overflow: hidden;
}

.row-wrap:hover{
    overflow: auto;
}

