
/* input {
    width: 200px;
    height: 20px;
    font-family: "Lato"
    
} */

/* textarea {
    width: 200px;
    height: 50px;
    font-family: "Lato"
  
} */

.uploadContainer, .firstContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #ff9293;
}

.imagePart {
    font-family: "Lato"
}

.submitButton {
    margin-top: 15px;
}

li {
    font-family: "Lato"
}

.drop-zone-inside {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: block;
}

.drop-zone {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: block
}

.drop-zone__input {
    display:none;
}