
input {
    width: 200px;
    height: 20px;
    font-family: "Playfair Display"
    
}

textarea {
    width: 200px;
    height: 50px;
    font-family: "Playfair Display"
  
}

.uploadContainer, .firstContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #FF7F7F;
}

.imagePart {
    font-family: "DM Serif Display"
}

.submitButton {
    margin-top: 15px;
}

li {
    font-family: "Playfair Display"
}