.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    margin-bottom: 35px;

}

label, input {
    display: flex;
    flex-direction: column;

}

#emails {
    height: 23px;
    font-family: "Playfair Display"
}

#passwords {
    height: 23px;
    font-family: "Playfair Display"
}


label {
    display: flex;
    align-items: center;
   
}

.firstContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 60px;
    margin-top: 90px;
    opacity: 0.85;
    
}

.loginForm {
    font-family: "DM Serif Display"

}

.secondContainer {
    border: 1px solid black;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
   
}

.loginButton {
    margin-top: 15px;
}