/* .forms {
    display: flex;
    flex-direction: column;
    align-items: center;

} */

/* label, input {
    display: flex;
    flex-direction: column;

} */

/* input {
    height: 23px
} */

/* label {
    display: flex;
    align-items: center;
    font-family: "Lato";
} */
/* 
.firstContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
} */

/* .signupButton {
    margin-top: 15px;
} */
