
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    margin: 0px;
    background-color: #F4C2C2;
    height: 50px;
    opacity: 0.75;
}

.profile-dropdown {
   position: absolute;
   left: 0;
   margin-left: 10px;
   margin-top: 20px;
}

/* .side {
    position: absolute;
    left: 0;
} */

.demoUser {
    height: 25px;
    margin-right: 8px;
}



a {
    text-decoration: none;
    font-family: "DM Serif Display";
    color: black;
}

button {
    font-family: "DM Serif Display";
    border-radius: 4px;

}

button:hover {
    box-shadow: 2px 2px 2px 2px;
}

.svg {
    height: 25px;
    margin-top: 10px;
}

.logo{
    display: flex;
    flex-direction: row;

}

.home {
    color: white;
    font-size: 30px;
}



