
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0px;
    margin: 0px;
    background-color: #f9c6c6;
    height: 64px;
    /* z-index: 10000; */
    opacity: 0.8;
}

.nav-session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0px;
    margin: 0px;
    background-color: #f9c6c6;
    height: 64px;
    /* z-index: 10000; */
    /* opacity: 0.8; */
}



.demoUser {
    height: 32px;
    width: 96px;
    border-radius: 5px;
    margin-right: 8px;
    font-weight: 700;
    border: none;
}

.demoUser:hover{
    color: white;
}



a {
    text-decoration: none;
    font-family: "Lato";
    color: black;
}

button {
    font-family: "Lato";
    border-radius: 4px;

}


.svg {
    height: 25px;
    margin-top: 10px;
}

.logo{
    display: flex;
    flex-direction: row;
    margin-left: 7em;
    cursor: pointer;

}

.logo:hover {
    filter: contrast(130%);

}

.home {
    color: 	#9F2B68;
    font-size: 30px;
}

.login {
    margin-right: 30px;
    color: black;
}

.signup {
    margin-right: 25px;
}

ul {
    list-style-type: none;
    padding: 10px;
    padding-right: 0px;
    margin: 5px;
}

.outsideProfile {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .side {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
} */

/* .user{
    border-bottom: 1px border black;
    margin-top: 5px;
    
} */

.hs {
    font-family: "Playfair Display";
    font-weight: 700;
}

.pro {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sesh {
    display:flex;
    flex-direction: row;
    margin-right: 13.5em;
}

.username {
    font-size: 20px;
    margin-left: 6px;
}

.username:hover {
    text-decoration: underline;
}

.profile-nav-image {
    width: 100px;
    height: 100px;
}


.profile-nav-pic {
    height: 33px;
    width: 33px;
    border-radius: 50px;
    cursor: pointer;
}

.profile-nav-pic:hover {
   filter: contrast(130%);
}

.upload-icon {
    color: #f97275;
    height: 33px;
    width: 33px;
    margin-right: 18px;
}

.upload-icon:hover {
   color: white;
}

.logo-out {
    display: flex;
    flex-direction: row;
    margin-left: 0.5em;

}

/* .prof-content {
    display: flex;
    flex-direction: row;
    margin-left: 7em;
    
} */

.out {

    margin-right: 1em;

}

.header-prof-drop {
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 60px;

}

.div-header-prof-drop {
    border-bottom: 1px #D3D3D3 solid;
}


.settings {
    width: 200px;
    font-size: 15px;
}

.settings:hover {
    background-color: pink;
    width: 100%;
    
}

.bottom-prof {
    width: 200px;
    /* border: 1px solid black; */
}


.profile-dropdown {
    position: absolute;
    /* right: 0; */
    /* margin-left: 10px;  */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    top: 64px;
    width: 300px;
    right: 56px;
    /* border: 1px solid black; */
    
    /* margin-top: 25px; */
    margin-right: 9.5em;
    background-color: white;
    opacity: revert;
    border-radius: 3px; 
 }

 .profile-menu-nav {
    border-radius: 3px; 
    border: 1px solid rgb(139, 139, 139);
 }

 .triangle {
    margin-bottom: 1em;
 }

 .profile-menu-nav:before{
    content:"";
    position: absolute;
    height: 0px;
    width: 0px;
    top: -23px;
    right: 18px; 
    border-width:  12px 12px 15px;
    border-color: transparent transparent white;
    border-style: solid;

 }

 .nav-text {
    display: flex;
    align-items: center;
    height: 28px;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 0;
 }

 .on-top {
    margin-top: 15px;
}

.on-bottom {
    margin-bottom: 15px;
}